@import "modules";

$link-color: var(--color-aoeu-allports);
$link-hover-color: var(--color-aoeu-blue);
$active-link-background: var(--color-aoeu-athens-gray);

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.hero {
  background: var(--color-aoeu-blue);
}

.menu {
  &__link {
    &--active {
      color: $link-color;
    }
  }
}

.table-of-contents {
  padding: 0 0 0 0.5rem;

  &__link {
    &--active {
      border-radius: 0.25rem;
      color: $link-color;
      display: inline-block;
      padding: 0.25rem 0.75rem;

      li & {
        background: $active-link-background;
      }

      code {
        color: $link-color;
      }
    }

    &:hover {
      color: $link-hover-color;

      code {
        color: $link-hover-color;
      }
    }
  }
}

blockquote {
  padding: 0 var(--ifm-blockquote-padding-horizontal);
}
